h1 LIST USERS
a(href="user/create") create
form(action="/user/search", method = "get")
    input(type="text", name="q")
    button search
ul 
    each user in users
        li 
            span= user.name 
            a(href="/user/" + user.id) &nbsp view